<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report generator</title>
</head>
<body>
    <table>
        <tbody>
        <tr>
            <td>
                List of generated reports:
            </td>
            <td>
                <a href="/reports" > reports list here</a>
            </td>
        </tr>
        <tr>
            <td>
                Generate reports
            </td>
            <td>
                <a href="/generate/data/odpowiedzi.csv" > generate reports here</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>